#container{
    height: 500px;
    width: 500px;
    background-color: cadetblue;
    border: 5px solid;
}

#first{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    padding: 20px;
    border: 2px solid red;
    margin: 10px 20px;
}

#second{
    width: 100px;
    height: 100px;
    background-color: burlywood;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}

.linkedIn{
    script
}
